$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-pause: "\e900";
$icon-play: "\e901";
$icon-previous: "\e902";
$icon-repeat: "\e903";
$icon-shuffle: "\e904";
$icon-next: "\e905";

